.App {
  margin-left: 100px;
}
.appdiv {
  width: 80vw;
  height: 700px;
  border: 1px solid gray;
  background-color: gainsboro;
}
.AppToDo {
  text-align: center;
  border: 1px solid gray;
  color: #61dafb;
  background-color: red;
}

.TodoApp {
  margin: 20px 120px;
}
.TodoInput {
  margin: 10px;
  width: 300px;
  height: 25px;
  border-radius: 10px;
}
.TodoSubmit {
  display: flex;
}
.ToDoApp {
  background-color: rgb(19, 197, 197);
  color: rgb(53, 44, 44);
  margin-left: 120px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 60vw;
  height: 40px;
}
.TodoSubmite {
  width: 150px;
  height: 35px;
  margin-left: 30px;
  margin-top: 10px;
  color: #293235;
  background-color: #afd6e0;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
.TodoReset {
  width: 150px;
  height: 35px;
  margin-left: 30px;
  margin-top: 10px;
  color: #293235;
  background-color: #e79c47;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
.active {
  background-color: #afd6e0;
  border: 1px solid gray;
  border-radius: 5px;
}
.active:hover {
  background-color: #b2e2ee;
}
.completed {
  background-color: #70bccf;
  border: 1px solid gray;
  border-radius: 5px;
}
.hashtag {
  color: white;
  cursor: pointer;
}
